<nav class="border-gray-200 bg-gray-900 h-15">
    <div class="flex flex-wrap items-center justify-between mx-auto p-4">
        <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img
                class="aspect-square rounded-full bg-white size-9"
                src="images/icons/logo.png"
                alt=""
            />
            <span
                class="self-center text-xl font-semibold whitespace-nowrap text-white"
                >People-App</span
            >
        </a>
    </div>
</nav>
